{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}Confirm Delete - IT Task Manager{% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<section class="pt-3 pb-4" id="confirm-delete">
  <div class="container mt-5">
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete the worker "{{ worker.username }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'catalog:worker-list' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </form>
  </div>
</section>

{% endblock content %}